@model Tennis339.Models.Schedule

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.When)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.When)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoachEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoachEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (User.Identity.Name == Model.CoachEmail || User.IsInRole("Admin"))
        {
            <input type="submit" value="Delete" class="btn btn-default" />
        }
        else
        {
            <p>
                <i>You cannot do anything</i>
            </p>
        }
        <a asp-action="Index">Back to List</a>
    </form>
</div>
